<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<title>ColetaLeite! - Manual do Aplicativo</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Manual do aplicativo ColetaLeite!">
	<meta name="author" content="H&S Technologies, Zonaro">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
	<link rel="stylesheet" href="assets/plugins/simplelightbox/simple-lightbox.min.css">

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">


	<style>
		.botao-app {
			width: 50px;
			margin: 10px 0px;

		}

		.print-app {
			width: 50% !important;
		}
	</style>

</head>

<body class="docs-page">
	<header class="header fixed-top">
		<div class="branding docs-branding">
			<div class="container-fluid position-relative py-2">
				<div class="docs-logo-wrapper">
					<button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none"
						type="button">
						<span></span>
						<span></span>
						<span></span>
					</button>
					<div class="site-logo"><a class="navbar-brand" href="index.html">
							<img class="logo-icon me-2" src="assets/images/AppColeta.png" style="height: 50px;"
								alt="logo" />
							<span class="logo-text">Coleta<span class="text-alt">Leite!</span></span></a>
					</div>
				</div>
				<!--//docs-logo-wrapper-->
				<div class="docs-top-utilities d-flex justify-content-end align-items-center">
					<div class="top-search-box d-none d-lg-flex">
						<form onsubmit="return window.search(this)" class="search-form">
							<input type="text" placeholder="Buscar na documentação" name="search"
								class="form-control search-input">
							<button type="submit" class="btn search-btn" value="Pesquisar"><i
									class="fas fa-search"></i></button>
						</form>
					</div>

					<ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
						<!-- <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li> -->
					</ul>
					<!--//social-list-->
					<a href="javascript:alert('Ainda Não')" class="btn btn-primary d-none d-lg-flex">Download</a>
				</div>
				<!--//docs-top-utilities-->
			</div>
			<!--//container-->
		</div>
		<!--//branding-->
	</header>
	<!--//header-->


	<div class="docs-wrapper" id="app">
		<div id="docs-sidebar" class="docs-sidebar">
			<div class="top-search-box d-lg-none p-3">
				<form onsubmit="return window.search(this)" class="search-form">
					<input type="text" placeholder="Buscar na documentação" name="search"
						class="form-control search-input">
					<button type="submit" class="btn search-btn" value="Pesquisar"><i
							class="fas fa-search"></i></button>
				</form>
			</div>
			<nav id="docs-nav" class="docs-nav navbar">
				<ul class="section-items list-unstyled nav flex-column pb-3">
					<template v-for="item in data">
						<li v-if="item.header=='h1'" class="nav-item section-title mt-3">
							<a class="nav-link scrollto" :href="'#section-'+ fixId(item.id)">
								<span v-if="item.icon" class="theme-icon-holder me-2">
									<i :class="item.icon"></i>
								</span>
								{{item.title}}
							</a>
						</li>
						<li v-else class="nav-item">
							<a class="nav-link scrollto" :href="'#item-'+ fixId(item.id)">{{item.title}}</a>
						</li>
					</template>
				</ul>

			</nav>
			<!--//docs-nav-->
		</div>
		<!--//docs-sidebar-->
		<div class="docs-content">

			<div class="container">

				<article v-for="item in data" class="docs-article" v-bind:id="'section-' + fixId(item.id)">
					<header class="docs-header">
						<component :is="'h' + item.id.split('.').length" :class="{'docs-heading': (item.id.split('.').length <= 1), 'section-heading': (item.id.split('.').length > 1) }"><span v-if="item.title" v-html="item.title"></span><span
								class="docs-time" v-if="item.date">Atualizado em:
								{{item.date}}</span>
						</component>					 
					</header>
					<section class="docs-section" v-bind:id="'item-' + fixId(item.id)">
						<!-- <h2 class="section-heading">{{item.title}}</h2> -->
						<p v-html="item.content"></p>
						<div :class="'simplelightbox-gallery-' + fixId(item.id)" class="row mb-3">
							<div class="col-12 col-md-4 mb-3" v-if="item.lightbox" v-for="img in item.lightbox">
								<a v-bind:href="img.image">
									<img class="figure-img img-fluid shadow rounded print-app" v-bind:src="img.image"
										alt="" v-bind:title="img.title" />
								</a>
							</div>
							{{ openLightbox(item.id) }}
						</div>

						<div v-if="item.warning && item.warning != ''" class="callout-block callout-block-warning me-1">
							<div class="content">
								<h4 class="callout-title">
									<span class="callout-icon-holder">
										<i class="fas fa-exclamation-triangle"></i>
									</span>
									<!--//icon-holder-->
									Atenção
								</h4>
								<p v-html="item.warning"></p>
							</div>
							<!--//content-->
						</div>
						<p v-html="item.aftercontent"></p>

					</section>
				</article>
				<!--//col-->
			</div>
 
		</div>
	</div>
	<!--//docs-wrapper-->


	<!-- Javascript -->
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>


	<!-- Page Specific JS -->
	<script src="assets/plugins/smoothscroll.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
	<script src="assets/js/highlight-custom.js"></script>
	<script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
	<script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
	<script src="assets/js/docs.js"></script>

</body>

</html>